.pagination {
  width: 100vw;
  transition: 1s;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: rgba(104, 10, 57, 0.763);
}
.pagination:hover {
  box-shadow: 0 0 0 0, 1000px 1px 15px black inset, -1000px 1px 15px black inset;
}

/* 페이지 이동 버튼 */
.pagination_nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_nav .pagination_ul {
  padding-left: 10px;
}
.pagination_nav .pagination_ul li:first-child {
  margin-left: 0;
}
.pagination_nav .pagination_ul li {
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  display: inline-block;
  margin: 0 3px 0 3px;
  margin-top: 0.25rem;
  color: white;
  list-style: none;
  padding: 8px 10px 8px 10px;
  border-radius: 50%;
  background: linear-gradient(rgba(251, 245, 245, 0.374), transparent);
  border: none;
}

.pagination_nav .pagination_ul li:hover {
  color: black;
  box-shadow: 0 0 0 0, 25px 25px rgb(224, 171, 64) inset;
}

/* 이전/이후 페이지 이동 버튼 */
.pagination button {
  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  padding: 8px 8px 8px 8px;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  text-align: center;
  border: none;
  margin: 0.2rem 1px 0 1px;
}
.pagination button:hover {
  color: black;
  background-color: rgb(241, 211, 19);
}

@media screen and (max-width: 500px) {
  .pagination_nav .pagination_ul li {
    padding: 5px;
  }
  .pagination button {
    padding: 5px;
  }
}
