/* MovieSide.tsx */
.movie_side {
  transition: 1s;
  display: flex;
  align-items: flex-start;
  opacity: 0.9;
  z-index: 20;
}

.movie_side_inner {
  transition: 1s;
  translate: -300px;
  opacity: 0;
  visibility: hidden;
  top: 0;
  min-width: 290px;
  width: 230px;
  min-height: 700px;
  z-index: 2;
  background: rgb(17, 23, 72);
  height: 100vh;
  border-right: 1px solid white;
  position: fixed;
  overflow: hidden auto;
}

.movie_side_inner.sidebar_appear {
  visibility: visible;
  translate: 0;
  opacity: 1;
}

.movie_side_inner::-webkit-scrollbar {
  width: 2px;
}

.movie_section_container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.movie_section_container label {
  align-self: center;
  padding: 5px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.movie_side_select {
  padding: 5px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  align-self: center;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 150px;
  max-width: 200px;
}

.movie_side_select:hover {
  cursor: pointer;
}

/* 사이드바 나타나기 버튼 */
.sidebar_hidden_btn_inner {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 100;
  font-size: 1rem;
  top: 1rem;
}
.sidebar_hidden_btn_inner:hover {
  background-color: rgb(236, 127, 117);
  border-color: rgb(244, 179, 179);
  cursor: pointer;
}
.sidebar_hidden_btn {
  position: fixed;
  z-index: 1;
  border: 1px solid;
  padding: 5px;
  min-width: 40px;
  border-radius: 50px;
  background-color: tomato;
}

.sidebar_hidden_btn:hover {
  background-color: #ff8000;
  cursor: pointer;
}
