.home {
    min-height: 960px;
  }
  
  .main_container{
    height: 175vh;
  }
  .main_container .slide_title:nth-of-type(1){
    margin-top: 5rem;
  }

   /* 타이틀 */
  .main_container .slide_title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 5px 15px goldenrod;
  }
  
/* 스피너 */
  #spinner{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }