.movies_container {
  display: flex;
}

ul li {
  list-style: none;
}

/* Movies 페이지 접속 시 상단에 나타났다 사라지는 메시지 박스 */
@keyframes hide {
  0% {
    opacity: 0;
  }
}

.movies {
  animation: appear 1s 1 ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movies_disappear_box {
  z-index: 10;
  margin-top: 5rem;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  animation: hide 2s ease;
  opacity: 1;
}
.box_content {
  font-family: 'Saira Semi Condensed', sans-serif;
  width: 100%;
  letter-spacing: 2px;
  padding: 30px;
  border-left: none;
  border-right: none;
  font-size: 17px;
  border-radius: 2px;
  background-color: #6e0630cb;
  opacity: 1;
  color: #ffffff;
  box-shadow: 1px 1px 15px seashell;
}
