/* sortbyDate.tsx */
.sortByDate {
    margin-top: 2rem;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .range_input_label_con{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }
  
  .range_input_label_con .range_input_label {
    padding: 5px;
    margin-bottom: 2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
  }
  
  #sortByDate_range_input {
    width: 90%;
    text-align: center;
  }
  
  .sortByDate_rangeVal {
    color: tomato;
    font-size: 20px;
    font-weight: 600;
  }