/* slideCard.tsx */
.genre {
  background-color: rgb(41, 105, 178);
  border-radius: 5px;
  width: 100px;
  display: inline-block;
  z-index: 1;
  margin: 1.5px;
  padding: 1px 3px 1px 3px;
}

/* 영화 제목 */
.title {
  padding: 5px;
}

/* 영화 정보 */
.slide_card_contents {
  font-family: "Saira Semi Condensed", sans-serif;
  transition: 1s;
  transform: perspective(600px);
  transform-style: preserve-3d;
  position: relative;
  text-align: center;
  opacity: 0;
  z-index: 20;
  height: 100%;
}
.slide_card_contents:hover {
  transform: translateZ(100px) scale(1.1);
  z-index: 100;
  padding-top: 1.5em;
  opacity: 90%;
  line-height: 30px;
  background: radial-gradient(rgb(104, 103, 103), rgb(165, 76, 31));
  border-radius: 5px;
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 30px 50px 43px 6px rgba(255, 135, 37, 0.56),
    -39px 35px 43px 6px rgba(255, 135, 37, 0.56),
    21px 25px 43px 12px rgba(255, 75, 51, 0.56),
    21px 25px 43px 12px rgba(255, 75, 51, 0.56),
    42px -38px 43px 12px rgba(255, 75, 51, 0.56),
    -31px -29px 43px 12px rgba(255, 75, 51, 0.56);
  cursor: pointer;
}

/* 미디어 쿼리 */

@media all and (max-width: 450px) {
  .overlay {
    line-height: 34px;
    opacity: 1;
    padding: 5px;
    background: linear-gradient(
      90deg,
      rgba(14, 48, 216, 0.39),
      rgba(227, 20, 106, 0.312)
    );
  }
  .overlay:hover {
    opacity: 0;
    animation: none;
    transform: none;
  }
}
