.search {
  position: relative;
}

/* 검색 아이콘 이너 컨테이너 */
.search_icon_inner {
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 0px 5px 0px 5px;
  border-radius: 3px;
  line-height: 30px;
  height: 100%;
  box-shadow: 1px 1px 8px black;
  background-color: rgb(209, 170, 14);
  cursor: pointer;
}

/* 검색 아이콘 아우터 컨테이너 */
.search_icon_outer {
  display: none;
  cursor: pointer;
}

.search_icon_outer:hover {
  color: rgb(250, 250, 95);
}

.search_icon {
  margin-top: 4px;
  height: 24px;
}

/* 유저 검색창  */
.search_user_input {
  transition: 1s;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  border: none;
  box-shadow: 2px 1px 5px black inset;
}

.search_user_input::placeholder {
  font-size: 16px;
  letter-spacing: 2px;
}

.search_user_input:focus {
  outline: none;
  box-shadow: 2px 50px 5px rgb(246, 206, 28) inset;
}

/* 녹음 버튼 */
.recode_btn {
  position: absolute;
  right: 5px;
  color: black;
  margin-top: 5px;
}

/* 미디어 쿼리 */
@media screen and (max-width: 654px) {
  /* 검색창 */
  .search_input_container {
    display: none;
  }
  .search_icon_outer {
    display: block;
  }

  .search_user_input {
    width: 290px;
  }

  .search_icon_outer.display {
    display: none;
  }
  .search_icon_outer.display + div {
    display: block;
  }
}

@media screen and (max-width: 501px) {
  .search_user_input {
    width: 200px;
  }
}
