/* Search.tsx */

.search_section {
  z-index: 0;
  display: flex;
  margin-left: 10px;
  position: absolute;
  right: 1rem;
}

/* 검색창 돋보기 아이콘 */
.search_icon {
  margin-right: 3px;
  position: absolute;
  font-size: 20px;
  left: -1.8rem;
  top: 0.3rem;
}

.search_icon:hover {
  cursor: pointer;
  color: rgb(243, 196, 54);
}

#search_icon {
  text-align: right;
  position: absolute;
  margin-left: 18rem;
  width: 50px;

}

.user_input {
  padding: 13px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  width: 300px;
  box-shadow: 1px 1px 5px 1px black;
}

.user_input:focus {
  outline: none;
}

.search_btn {
  position: absolute;
  left: 13rem;
  top: -1.5px;
  display: inline-block;
  padding: 8px 45px 14px 40px;
  box-shadow: 1px 1px 5px 1px black;
  border: none;
  background-color: rgba(247, 175, 21, 0.948);
  font-weight: 700;
  border-radius: 40px;
  color: white;
}

.search_btn:hover {
  background-color: rgb(226, 160, 60);
  cursor: pointer;
}

/* 유저 검색창 */
.input_container {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  translate: 400px;
}

.input_container.appear {
  visibility: visible;
  opacity: 1;
  position: static;
  translate: 0;
}

.input_container.appear#search_icon {
  visibility: visible;
}
