@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600&display=swap');
* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, rgba(127, 5, 25, 0.931), rgb(16, 5, 10));
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(191, 191, 191);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(91, 6, 36, 0.852);
}

/* ---------------------------App ----------- */
.App {
  min-height: 1200px;
  width: 100%;
  animation: appear 1s 1 ease-in-out;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
  
}

/* ---------------------------컴포넌트------------------ */


/* Pagination.tsx */
.pagination {
  padding: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}

.pagination_list {
  list-style: none;
  padding: 5px 10px 5px 10px;
  margin: 0 3px 0 3px;
  border-radius: 30px;
  border: 1px solid;
  background: transparent;
  color: rgba(255, 255, 255, 0.709);
  font-size: 17px;
  font-weight: 600;
}

.pagination_list:hover {
  cursor: pointer;
}

.action {
  list-style: none;
  padding: 5px 10px 5px 10px;
  margin: 0 7px 0 7px;
  border-radius: 30px;
  border: 1px solid;
  color: rgba(255, 255, 255, 0.709);
  font-size: 17px;
  font-weight: 600;
  background-color: goldenrod;
  border: none;
  padding: 5px 11px 5px 11px;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* -------------------외부 패키지 컴포넌트 --------------
 *
 * spinner */
.spinner {
  position: relative;
  top: 260px;
}

/* 폰트 이미지 */
.person_running {
  color: #4863eb;
  font-size: 20px;
  margin-right: 5px;
}

.point {
  color: #4863eb;
  margin-left: 1px;
  font-size: 20px;
  margin-right: 10px;
}


/*--------------------- media query 영역 -------------*/

@media all and (max-width: 450px) {
  .slide_title {
    padding-bottom: 3px;
  }
 
}

@media all and (max-width: 360px) {
  .search_section {
    display: none;
  }
}
